<!DOCTYPE html>
<html lang="es">
  <html xmlns:th="http://www.thymeleaf.org">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Administracion Personas</title>
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="../static/style.css" />
      <link
        rel="stylesheet"
        href="../static/Bootstrap/css/bootstrap.min.css"
        th:href="@{/css/bootstrap.min.css}"
      />
      <!-- Estilos CSS -->
    </head>
    <body>
      <div class="container">
        <br />
        <div>
          <a href="/save/null" class="btn btn-primary">Agregar</a>
        </div>
        <div th:switch="${list}">
          <h3 th:case="null">No hay personas</h3>
          <div th:case="*">
            <h2>Personas</h2>
            <table class="table">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Apellido</th>
                  <th>Direccion</th>
                  <th>Telefono</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="persona: ${list}">
                  <td th:text="${persona.nombre}"></td>
                  <td th:text="${persona.apellido}"></td>
                  <td th:text="${persona.direccion}"></td>
                  <td th:text="${persona.telefono}"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </body>
  </html>
</html>
