<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Administración Personas</title>
    <!-- Estilos CSS -->
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}"/>
    <!-- Bootstrap CSS -->
    <link
            href="../static/bootstrap/css/bootstrap.min.css"
            rel="stylesheet"
            th:href="@{/bootstrap/css/bootstrap.min.css}"
    />
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
<div class="container">
    <br/>
    <div>
        <a href="/save/-1" class="btn btn-primary">Agregar</a>
    </div>
    <div>
        <h3 th:if="${list.isEmpty()}">No hay personas</h3>
        <div th:if="${!list.isEmpty()}">
            <h2>Personas</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Dirección</th>
                    <th>Teléfono</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="persona: ${list}">
                    <td th:text="${persona.nombre}"></td>
                    <td th:text="${persona.apellido}"></td>
                    <td th:text="${persona.direccion}"></td>
                    <td th:text="${persona.telefono}"></td>
                    <td><a th:href="@{/save/{id}(id=${persona.id})}" class="btn btn-warning">
                        <i class="fas fa-edit"></i>
                    </a></td>
                    <td><a th:href="@{/delete/{id}(id=${persona.id})}" class="btn btn-danger">
                        <i class="fas fa-trash"></i>
                    </a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>

